.TPTPTPTP {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 5578px;
  position: relative;
}

.TPTPTPTP .wrap-slider-top {
  position: absolute;
  top: -415px;
  left: -292px;
  width: 3344px;
  height: 2736px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.TPTPTPTP .group {
  width: 5359px;
  height: 2306px;
  display: flex;
}

.TPTPTPTP .div {
  width: 5359.12px;
  height: 2306.3px;
  margin-left: 0;
  display: flex;
  gap: 3010.6px;
}

.TPTPTPTP .pexels-mahdibafande {
  margin-top: -1245px;
  width: 2306.3px;
  height: 2679.68px;
  margin-left: -5024.9px;
  aspect-ratio: 0.86;
}

.TPTPTPTP .img {
  margin-top: 415px;
  width: 1920px;
  height: 1891.3px;
  aspect-ratio: 0.86;
}

.TPTPTPTP .overlap-group {
  position: absolute;
  height: 1080px;
  top: 0;
  left: 0;
  display: flex;
  padding: 111.3px 60px;
  align-items: flex-start;
  min-width: 1920px;
  background-image: url(./img/glass-mirror.png);
  background-size: 100% 100%;
}

.TPTPTPTP .LOGO {
  width: 240px;
  height: 78px;
}

.TPTPTPTP .a-creative {
  position: absolute;
  top: 387px;
  left: calc(50.00% - 894px);
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 83.6px;
  letter-spacing: 0;
  line-height: normal;
}

.TPTPTPTP .rectangle {
  position: absolute;
  top: 822px;
  left: calc(50.00% - 960px);
  width: 1920px;
  height: 1196px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.TPTPTPTP .group-2 {
  position: absolute;
  top: 1109px;
  left: calc(50.00% - 894px);
  width: 1766px;
  height: 564px;
  display: flex;
  flex-direction: column;
}

.TPTPTPTP .studio-tigapagi-is-a {
  margin-left: -4px;
  height: 123px;
  width: 1762px;
  align-self: center;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 41px;
}

.TPTPTPTP .text-wrapper {
  font-weight: 700;
}

.TPTPTPTP .span {
  font-family: "Montserrat-Regular", Helvetica;
}

.TPTPTPTP .group-3 {
  margin-left: 8px;
  width: 1754px;
  height: 1px;
  margin-top: 63px;
  display: flex;
  gap: 411px;
}

.TPTPTPTP .line {
  margin-top: -2px;
  width: 1055px;
  height: 2px;
}

.TPTPTPTP .line-2 {
  margin-top: -2px;
  width: 288px;
  height: 2px;
}

.TPTPTPTP .unlock-your-brand-s {
  margin-left: -4px;
  height: 155px;
  width: 1762px;
  align-self: center;
  margin-top: 37px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.TPTPTPTP .text-wrapper-2 {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
}

.TPTPTPTP .text-wrapper-3 {
  font-family: "Montserrat-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
}

.TPTPTPTP .group-4 {
  margin-left: 8px;
  width: 1754px;
  height: 1px;
  margin-top: 185px;
  display: flex;
  gap: 411px;
  transform: rotate(180deg);
}

.TPTPTPTP .line-3 {
  margin-top: 0;
  width: 1055px;
  height: 2px;
  transform: rotate(-180deg);
}

.TPTPTPTP .line-4 {
  margin-top: 0;
  width: 288px;
  height: 2px;
  transform: rotate(-180deg);
}

.TPTPTPTP .brand-potential {
  position: absolute;
  top: 1519px;
  left: 60px;
  width: 1765px;
  height: 99px;
}

.TPTPTPTP .brands-potential {
  display: flex;
  flex-direction: column;
  width: 13.59%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 12.69px;
  padding: 30.46px 36.8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #040404;
  border-radius: 31.73px;
  border: 1.9px solid;
  border-color: #050505;
}

.TPTPTPTP .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.37px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #050505;
  font-size: 30.5px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.TPTPTPTP .div-wrapper {
  width: 28.40%;
  left: 15.38%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 12.69px;
  padding: 30.46px 36.8px;
  position: absolute;
  top: 0;
  background-color: #040404;
  border-radius: 31.73px;
  border: 1.9px solid;
  border-color: #050505;
}

.TPTPTPTP .brands-potential-2 {
  width: 21.64%;
  left: 45.58%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 12.69px;
  padding: 30.46px 36.8px;
  position: absolute;
  top: 0;
  background-color: #040404;
  border-radius: 31.73px;
  border: 1.9px solid;
  border-color: #050505;
}

.TPTPTPTP .brands-potential-3 {
  width: 14.59%;
  left: 69.02%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 12.69px;
  padding: 30.46px 36.8px;
  position: absolute;
  top: 0;
  background-color: #040404;
  border-radius: 31.73px;
  border: 1.9px solid;
  border-color: #050505;
}

.TPTPTPTP .brands-potential-4 {
  width: 14.59%;
  left: 85.41%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 12.69px;
  padding: 30.46px 36.8px;
  position: absolute;
  top: 0;
  background-color: #040404;
  border-radius: 31.73px;
  border: 1.9px solid;
  border-color: #050505;
}

.TPTPTPTP .wrap-slider-portfol {
  position: absolute;
  top: 1735px;
  left: calc(50.00% - 960px);
  width: 1920px;
  height: 1080px;
  background-image: url(./img/group-1000007456.png);
  background-size: 100% 100%;
}

.TPTPTPTP .our-clients {
  position: absolute;
  top: 4312px;
  left: 501px;
  width: 917px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 88px;
  text-align: center;
  letter-spacing: 0;
  line-height: 96px;
}

.TPTPTPTP .text-wrapper-5 {
  font-family: "Montserrat-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
}

.TPTPTPTP .text-wrapper-6 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
}

.TPTPTPTP .text-wrapper-7 {
  position: absolute;
  top: 4617px;
  left: calc(50.00% - 459px);
  width: 917px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 96px;
}

.TPTPTPTP .component {
  position: absolute;
  top: 4470px;
  left: calc(50.00% - 910px);
  width: 1819px;
  height: 105px;
  background-image: url(./img/frame-1000007552.svg);
  background-size: 100% 100%;
}

.TPTPTPTP .group-5 {
  position: absolute;
  top: 4817px;
  left: 0;
  width: 8443px;
  height: 761px;
}

.TPTPTPTP .wrap-footer {
  position: absolute;
  top: 1px;
  left: 0;
  width: 8443px;
  height: 760px;
  display: flex;
}

.TPTPTPTP .group-6 {
  width: 1920px;
  height: 760px;
}

.TPTPTPTP .rectangle-2 {
  position: absolute;
  top: -1px;
  left: calc(50.00% - 4222px);
  width: 1922px;
  height: 763px;
  background-color: #0000001a;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ffffff;
  backdrop-filter: blur(200px) brightness(100%);
  -webkit-backdrop-filter: blur(200px) brightness(100%);
}

.TPTPTPTP .nav-bar {
  position: fixed;
  top: 57px;
  left: calc(50.00% + 591px);
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #04040480;
  border-radius: 25px;
  border: 1.5px solid;
  border-color: #808080;
}

.TPTPTPTP .frame {
  margin-top: -1.0px;
  margin-left: 0.7px;
  width: 24.73px;
  display: flex;
}

.TPTPTPTP .group-7 {
  width: 24.73px;
  height: 17px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.TPTPTPTP .line-5 {
  width: 24.73px;
  height: 1.5px;
  margin-top: -1.5px;
}

.TPTPTPTP .line-6 {
  width: 24.73px;
  height: 1.5px;
}

.TPTPTPTP .navbar-contact {
  position: fixed;
  top: 57px;
  left: 1650px;
  width: 209px;
  height: 78px;
  display: flex;
}

.TPTPTPTP .frame-wrapper {
  flex: 1;
  width: 209px;
  display: flex;
  background-color: #04040480;
  border-radius: 25px;
  border: 1.5px solid;
  border-color: #808080;
}

.TPTPTPTP .frame-2 {
  display: inline-flex;
  margin-top: 22px;
  width: 151px;
  height: 34px;
  margin-left: 27px;
  position: relative;
  align-items: center;
  gap: 22px;
}

.TPTPTPTP .fi {
  position: relative;
  width: 34px;
  height: 34px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.TPTPTPTP .vector {
  position: absolute;
  width: 49.75%;
  height: 49.75%;
  top: 24.31%;
  left: 26.19%;
}

.TPTPTPTP .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}